{% extends 'base.html' %}
{% block content %}
  <!--Main layout-->
<!-- Payment CSS file is included in head.html-->
<main>
  <div class="container wow fadeIn">
    <!-- Heading -->
    <h2 class="my-5 h2 text-center">Checkout form</h2>
    <!--Grid row-->
    <div class="row">
      <!-- second coloum-->
      {% include 'order_snippet.html' %}
      <!-- ./ second coloum-->
      <!--Grid column-->
      <div class="col-md-12 mb-4">
        <!--Card-->
        <div class="card">
          <!--card 1-->
            <div class="new-card-form">
              <form action="." method="POST" class="stripe-form" id="stripe-form">
                {% csrf_token %}
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Credit or debit card" name="cardNumber" aria-label="Recipient's username"
                  aria-describedby="button-addon2" required/>
                  
                <button class="btn btn-outline-primary" id="stripeBtn" data-mdb-ripple-color="dark" style="padding: 0px 20px; margin-top: -2px;">
                  Submit Payment
                </button>

              </div>
            </form>
          </div>
            <!--/card 3 end-->
        </div>
        <!--/.Card-->
      </div>

   </div>
    <!--Grid row-->
  </div>
</main>
  <!--Main layout-->
 
{% endblock content %}
